<div class="row">
  <h1 class="col-xs-12">Report an Operation</h1>
</div>

<form>
  <div class="form-group">
    <label for="datePerformed">Date Performed</label>
    <input type="date" class="form-control" id="datePerformed"
      ng-model="operation.datePerformed" />
  </div>
  <div class="form-group">
    <label for="operationType">Type of Operation</label>
    <ui-select ng-model="operation.operationType.selected" theme="bootstrap"
      id="operationType">
      <ui-select-match placeholder="Select an operation type...">{{$select.selected.code}} - {{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="operationType in operationTypes | propsFilter: {code: $select.search, name: $select.search}">
        <div ng-bind-html="operation.code | highlight: $select.search"></div>
        <div ng-bind-html="operation.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</form>
