<div class="row">
  <h1 class="col-xs-12">Report an Operation</h1>
</div>

<form>
  <div class="form-group">
    <label for="datePerformed">Date Performed</label>
    <input type="date" class="form-control" id="datePerformed"
      ng-model="operation.datePerformed" />
  </div>
  <div class="form-group">
    <label for="operationType">Type of Operation</label>
    <ui-select ng-model="operation.operationType.selected" theme="bootstrap"
      id="operationType">
      <ui-select-match placeholder="Select an operation type...">{{$select.selected.code}} - {{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="operationType in operationTypes | propsFilter: {code: $select.search, name: $select.search}">
        <div ng-bind-html="operation.code | highlight: $select.search"></div>
        <div ng-bind-html="operation.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input ng-disabled=true id=location class="form-control"
      value="{{operation.location | flattenLocationFilter}}"/>
    <!-- <div ng-show="map.center">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'/>
    </div> -->
  </div>
  <tabset>
    <tab heading="Personnel"><div ng-include="'views/_personnel.html'"/></tab>
    <tab heading="Equipment"><div ng-include="'views/_equipment.html'"/></tab>
    <tab heading="Material"><div ng-include="'views/_material.html'"/></tab>
  </tabset>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-danger">Cancel</button>
    </div>
  </div>
</form>
